<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <style>
    html,
    body {
      padding: 0;
      margin: 0;
    }

    .SimpleAvatarContainer {
      width: 400px;
      height: 400px;
      background: #059cdd;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    h1 {
      margin: 0;

      color: white;
      font-family: "Courier New", Courier, monospace;
    }
  </style>
  <body>
    <div class="SimpleAvatarContainer">
      <h1><%= username %></h1>
    </div>
  </body>
</html>
